{extend name="default/detail_template"/}
{block name="items"}
<dl>
    <dt><span class="important"></span>名称</dt>
    <dd>
        <!--<input type="hidden" name="id" value="{$id|default=''}">-->
        <!--<input type="text" name="name" autocomplete="off" value="{$name|default=''}" disabled>-->
        {$name|default=''}
    </dd>
</dl>
<dl>
    <dt><span class="important"></span>权限列表</dt>
    <dd>
        <ul id="powers">

        </ul>
    </dd>
</dl>
{/block}
{block name="js"}
{js href="__JS__/tree.js"}
<script>
    Tree.text_tree({
        id: "#powers",
        data: eval('({$level_tree|json_encode})'),
        title: "name",
        child: "children",
        level: 1
    });
</script>
{/block}

