<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport"/>
    <title>{$site_name}后台管理平台</title>
    {css href="__CSS__/common.css"}
    {css href="__CSS__/admin.css"}
    {css href="__CSS__/button.css"}
    {css href="__CSS__/iconfont.css"}
    {css href="__CSS__/mytag.css"}
    {css href="__PLUGIN__/bootstrap/css/bootstrap.css"}
</head>
<body>
<header style="margin: 0 15px">
    <dl class="menu-title">
        <dt>{$menu_title.name}</dt>
        <dd>/ {$menu_title.jingle}</dd>
    </dl>
</header>
<div class="items">
    <div class="yum-button-group" role="group">
        {block name='btn'}
        <button type="button" class="yum-button yum-button-primary yum-button-rounded add_plus"
                onclick="location.href = '{:url(\'add\')}'">
            <i class="fa fa-plus"></i>
            新增
        </button>
        {/block}
        <!--<button type="button" class="yum-button yum-button-primary yum-button-rounded">Middle</button>-->
        <!--<button type="button" class="yum-button yum-button-primary yum-button-rounded">Right</button>-->
        <!--<button type="button" class="yum-button yum-button-primary yum-button-rounded">Right</button>-->
    </div>

    <form class="search" autocomplete="off">{block name="search"}{/block}</form>
    <div class="content">
        <table class="yum-table">
            <thead>
            <tr>
                {block name="thead"}{/block}
            </tr>
            </thead>
            <tbody>
            {empty name='result'}
            <tr>
                <td colspan="20" height="180" align="center" bgcolor="#dedede">
                    没有数据
                </td>
            </tr>
            {~$result=[]}
            {/empty}
            </tbody>
            {if condition='!empty($result)'}
            <tfoot>
            <tr>
                <td colspan="20" align="right">
                    {$data->render()}
                </td>
            </tr>
            </tfoot>
            {/if}
        </table>
    </div>
</div>
</body>
</html>
{~$result=json_encode($result)}
{js href="__JS__/jquery.min.js"}
{js href="__JS__/admin/common.js"}
{js href="__PLUGIN__/layer/layer.js"}
{js href="__PLUGIN__/verTable/verTable.js"}
{block name="js"}{/block}
<script>
    var result = {$result};
    if(result.length>0){
        // var option = eval('({$option|default="[]"})');
        var option = JSON.parse('{$option|default="[]"}');
        var table = new verTable();
        table.init({
            data:result,
            tar:"table",
            option:option
        });
    }
</script>