@charset "UTF-8";

.nav-menu {
    display: none;
}

header .search {
    display: none;
}

.mobile-menu {
    line-height: 60px;
    vertical-align: middle;
    display: block !important;
}

.mobile-menu .menu-btn {
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}

.mobile-menu .mobile-menu-list {
    background: rgba(3, 3, 3, .6);
    position: absolute;
    z-index: 999;
    right: 0;
    width: 100vw;
    top: 60px;
    box-shadow: 1px 0 #666, -1px 0 #666, 0 1px #666, 0 -1px #666;
    line-height: 35px;
    opacity: 0;
    left: -100vw;
}

.mobile-menu .mobile-menu-list.mobile-menu-list-hide {
    /*animation: hide-menu 1s ease;*/
    opacity: 0;
    left: -100vw;
}

@keyframes hide-menu {
    from {
        opacity: 1;
        left: 0;
    }
    to {
        opacity: 0;
        left: -100vw;
    }
}

.mobile-menu .mobile-menu-list.mobile-menu-list-show {
    /*animation: show-menu 1s ease;*/
    opacity: 1;
    left: 0;
}

@keyframes show-menu {
    from {
        opacity: 0;
        left: -100vw;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.mobile-menu-list > li {
    position: relative;
}
.mobile-menu-list-show > li{
    left: 0;
}
.mobile-menu-list-show > li:nth-child(odd) {
    animation: menu-li-odd-show 1s linear;
}

.mobile-menu-list-show > li:nth-child(even) {
    animation: menu-li-even-show 1s linear;
}

@keyframes menu-li-odd-show {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes menu-li-even-show {
    from {
        left: 240%;
    }
    to {
        left: 0;
    }
}

.mobile-menu-list-hide > li:nth-child(odd) {
    left: -100%;
    animation: menu-li-odd-hide 1s linear;
}

.mobile-menu-list-hide > li:nth-child(even) {
    left: 240%;
    animation: menu-li-even-hide 1s linear;
}

@keyframes menu-li-odd-hide {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes menu-li-even-hide {
    from {
        left: 0;
    }
    to {
        left: 240%;
    }
}

.mobile-menu .mobile-menu-list li {
    padding: 0 15px;
}

.mobile-menu .mobile-menu-list li.active {
    background-color: #ff602e;
    font-weight: bold;
}

.mobile-search {
    position: relative;
    margin-right: 10px;
    /*height: 60px;*/
    margin-bottom: 15px;
    margin-top: 15px;
}

.mobile-search input {
    height: 35px;
    vertical-align: middle;
    background: none;
    line-height: 35px;
    color: #fff;
    padding-left: 30px;
}

.mobile-search input::placeholder {
    color: #fff;
}

.mobile-search icon {
    position: absolute;
    z-index: 9999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    left: 15px;
    top: 5px;
}

.login {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
}

.login .not-login {
    width: 100%;
    font-size: 18px;
    height: 100%;
}

.login .user-login {
    width: 100%;
}

.login .user-login span {
    width: 60%;
    height: 100%;
    font-size: 18px;
}

.login .user-login a {
    width: auto;
    padding-left: 15px;
}

.nav,
.content,
.item {
    width: calc(100% - 10px) !important;
}

.banner {
    display: none !important;
}

.card li {
    width: calc((100% - 15px) / 2) !important;
    /*display: block;*/
}

.contractile-card-content.contractile-card-content-form dl dt,
.contractile-card-content.contractile-card-content-form dl dd {
    margin-bottom: 0;
}

.user-center.active {
    background: none !important;
    margin-bottom: 15px;
}

.user-center .user-data-list + .user-data-list {
    border-top: 0;
}

.great {
    padding: 0 10px !important;
}

.article-list li .yum-fl {
    width: 30% !important;
}

@media screen and (max-width: 640px) {
    .card li {
        width: 100% !important;
        display: block;
    }

    .article-items-remarks textarea {
        width: 100% !important;
    }

    .article-items-remarks p {
        margin-left: 0 !important;
        text-align: right;
        width: 100% !important;
    }

    #gologin form {
        width: 90vw !important;
        margin-left: -45vw !important;
        margin-top: 25vh !important;
    }
}

.user-datail {
    display: block !important;
    width: 100% !important;
}
