@charset "UTF-8";

number {
    display: inline-block;
    width: 100%;
    color: #ff1f30;
}

block {
    display: block;
    text-align: center;
    border-bottom: 2px #dedede solid;
    position: relative;
    margin: 20px 0;
    /*height: 15px;*/
}

block span {
    position: absolute;
    background: #fff;
    font-size: 16px;
    padding: 0 15px;
    color: deepskyblue;
    top: -15px;
    left: 20px;
}

tag {
    display: inline-block;
    padding: 0 15px;
    background: rgba(49, 190, 255, 0.6);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

item {
    font-family: "iconfonts" !important;
    display: inline-block;
    cursor: pointer;
    width: auto;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    padding: 0 5px;
    background-color: #ff1f30;
    text-align: center;
}

item::before {
    content: attr(data-number);
}

tag ~ item {
    margin-left: 10px;
}

icon{
    font-family: "iconfonts" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: initial;
}

iconcirle{
    font-family: "iconfonts" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    border-right: 1px solid #dedede;
    line-height: 35px;
    border-radius: 5px 0 0 5px;
    z-index: 7;
    background-color: grey;
    color: #fff;
    /*top: -1px;*/
}