{extend name="default/table_template"/}
{block name="search"}
<ul>
    <li>
        <label>
            名称：
            <input type="text" name="name" value="{$name|default=''}" autocomplete="off">
        </label>
    </li>
    <li>
        <label>
            路径：
            <input type="text" name="href" value="{$href|default=''}" autocomplete="off">
        </label>
    </li>
    <li>
        <button type="submit" class="yum-button yum-button-primary"><icon class="icon-search"></icon> 搜索</button>
        <a href="{:url('index')}" class="yum-button yum-button-caution">清除搜索</a>
    </li>
</ul>
{/block}
{block name="thead"}
<th data-field="name">名称</th>
<th data-field="href">路径</th>
<th data-field="jingle">说明</th>
<th data-field="status" data-style="text-align:center" data-eq="{1:'<icon class=success></icon>',2:'<icon class=error></icon>'}" width="60">状态</th>
<th data-field="option" data-style="text-align:center" data-rules="{'%id':'id'}">操作</th>
{/block}