{extend name="default/table_tree"/}
{block name='thead'}
<th field="name" width="220">名称</th>
<th field="icon" data-icon="true" data-style="text-align:center;">图标</th>
<th field="parents" data-style="color:green;text-align:center">上级菜单</th>
<th width="45" field="status" data-style="text-align:center;">状态</th>
<!--<th width="45" field="level" data-style="text-align:right;">排序</th>-->
<!--<th width="45" field="sort" data-style="text-align:right;">排序</th>-->
<th field="option" data-style="text-align:center;">操作</th>
{/block}