{extend name='/user'}
{block name='css'}
{/block}
{block name='banners'}
<li class="user-data-list" onclick="location.href='{:url(\'user_details\')}'">
    <icon class="icon-data"></icon>
    我的资料
</li>
<li class="user-data-list actives">
    <icon class="icon-files"></icon>
    我的博客 ({$blog_number|default=''})
</li>
<li class="user-data-list">
    <icon class="icon-comment"></icon>
    我的评论
</li>
<li class="user-data-list">
    <icon class="icon-friend"></icon>
    我的圈子
</li>
{/block}
{block name='menu_list'}
<li class="user-data-list" onclick="location.href='{:url(\'user_details\')}'">
    <icon class="icon-data"></icon>
    我的资料
</li>
<li class="user-data-list actives">
    <icon class="icon-files"></icon>
    我的博客 ({$blog_number|default=''})
</li>
<li class="user-data-list">
    <icon class="icon-comment"></icon>
    我的评论
</li>
<li class="user-data-list">
    <icon class="icon-friend"></icon>
    我的圈子
</li>
{/block}
{block name='content'}
<ul class="banner-charts">
    <li>
        <a href="{:url('index')}">会员中心</a>
    </li>
    <li>
        <span>我的博客</span>
    </li>
</ul>
<table class="user-table">
    <thead>
    <tr>
        <td width="30">
            <icon class="icon-sm input-chekbox" data-checked="all"></icon>
        </td>
        <td>标题</td>
        <td>类型</td>
        <td>状态</td>
        <td>发布时间</td>
        <td>更新时间</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {volist name='result' id='result'}
    <tr>
        <td>
            <icon class="icon-sm input-chekbox"
                  data-id="{$result.id|default=''}" data-checked="children"></icon>
        </td>
        <td class="title">
            <span>{$result.title}</span>
        </td>
        <td>
            {$result.type}
        </td>
        <td>
            {$result.status}
        </td>
        <td>
            {$result.add_time|date='Y-m-d',###}
        </td>
        <td>
            {$result.update_time|date='Y-m-d',###}
        </td>
        <td class="option">
            <a href="javascript:;">查看</a>
            <a href="javascript:;">编辑</a>
            <a href="javascript:;">删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="20">
            <div class="yum-button-group page" role="group">
                <button type="button" class="yum-button yum-button-primary yum-button-rounded">
                    <icon class="icon-plus"></icon>
                    添加
                </button>
                <button type="button" class="yum-button yum-button-caution yum-button-rounded" id="delete">
                    <icon class="icon-minus"></icon>
                    删除
                </button>
            </div>
            <div style="float: right" class="page">
                {$data->render()}
            </div>

        </td>
    </tr>
    </tfoot>
</table>
{/block}
{block name='js'}
<script>
    checkAll();
    $("#delete").click(function () {
        var len = $(".checkchange.input-checked").length;
        if (len < 1) {
            layer.msg("请选择要删除的数据！");
            return false;
        }

        var ids = [];
        $(".checkchange.input-checked").each(function (i) {
            ids[i] = $(this).data("id");
        });
    });
</script>
{/block}