<li class="yum-cl">
    <article class="article article-tags">
        <div class="article-title">
            <span class="yum-fl">
                [title]
            </span>
            <a href="javascript:;" class="yum-fr">
                more
                <icon class="icon-more"></icon>
            </a>
        </div>
        <ul class="article-list">
            <li class="yum-cl">
                <a href="javascript:;">
                    <p class="yum-fl">testttt待付款就凯萨琳地方就就开始大量福建省</p>
                    <p class="yum-fr">
                        <span><icon class="icon-hot"></icon> 127</span>
                    </p>
                </a>
            </li>
            <li class="yum-cl">
                <a href="javascript:;">
                    <p class="yum-fl">testttt待付款就凯萨琳地方就就开始大量福建省</p>
                    <p class="yum-fr">
                        <span><icon class="icon-hot"></icon> 127</span>
                    </p>
                </a>
            </li>
            <li class="yum-cl">
                <a href="javascript:;">
                    <p class="yum-fl">testttt待付款就凯萨琳地方就就开始大量福建省</p>
                    <p class="yum-fr">
                        <span><icon class="icon-hot"></icon> 127</span>
                    </p>
                </a>
            </li>
            <li class="yum-cl">
                <a href="javascript:;">
                    <p class="yum-fl">testttt待付款就凯萨琳地方就就开始大量福建省</p>
                    <p class="yum-fr">
                        <span><icon class="icon-hot"></icon> 127</span>
                    </p>
                </a>
            </li>
            <li class="yum-cl">
                <a href="javascript:;">
                    <p class="yum-fl">testttt待付款就凯萨琳地方就就开始大量福建省</p>
                    <p class="yum-fr">
                        <span><icon class="icon-hot"></icon> 127</span>
                    </p>
                </a>
            </li>
        </ul>
    </article>
</li>