<li class="yum-cl">
    <article class="article article-tags">
        <div class="article-title">
                    <span class="yum-fl">
                        [names]
                    </span>
        </div>
        <ul class="article-tag">
            <li>
                <tag>666</tag>
                <item data-number="1"></item>
            </li>
            <li>
                <tag>23333</tag>
                <item data-number="15"></item>
            </li>
            <li>
                <tag>3333</tag>
                <item data-number="99+"></item>
            </li>
        </ul>
    </article>
</li>