<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport"/>
    <title>网站升级中</title>
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/mytag.css">
    <link rel="stylesheet" href="__CSS__/error.css">
    <link rel="stylesheet" href="__CSS__/iconfont.css">
</head>
<body>
<div class="close-box">
    <icon class="icon-shengji icon-xl"></icon>
    <span>网站正在维护升级中<br>请稍候再试…</span>
</div>
</body>
</html>